@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: Poppins, sans-serif;
}

.filter-container{
    background-color: #EBEBEB;
    padding: 16px 12px;
    border-radius: 6px;
    width: 80%;
    margin: auto;
}

h2{
    margin: 0px 0px 10px 5px;

}

.btns-container{
    display: flex;
    gap: 0.8 rem;
    justify-content: space-between;
    flex-wrap: wrap;
}

.btns-container button{
    border: none;
    padding: 0.5rem 0.8rem;
    border-radius:5px;
    margin: 10px 5px;
    background-color:  #9e9d9e;
    font-weight: 600;
    cursor: pointer;
}

button:hover{
    background:#686767;
}